<!-- appAnywhere/templates/index.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="ATMapp">
    <meta name="author" content="Adriano Tiapas Moscheti">

    <title>{{ sistema }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <nav aria-label="...">
        <ul class="pager">
            <h2 class="text-primary">{{ sistema }}</h2>
            <li class="previous"><a href="?data={{ archive_before }}"><span aria-hidden="true">&larr;</span> Older</a></li>
            <li class="next"><a href="?data={{ archive_after }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>

    <div class="container">
        <h2 class="text-primary">{{ mensagem }}</h2>
        <hr>
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="tab" href="#main">Main</a></li>
            <li><a data-toggle="tab" href="#geral">Geral</a></li>
            <li><a data-toggle="tab" href="#cotidiano">Cotidiano</a></li>
            <li><a data-toggle="tab" href="#esportes">Esportes</a></li>
        </ul>

        <br>

        <div class="tab-content">
            <div id="main" class="tab-pane fade in active">
                {% for item in main %}
                <a href="{{ item.href }}">{{ item.title }}</a><br> {% endfor %}
            </div>
            <div id="geral" class="tab-pane fade">
                {% for item in geral %}
                <a href="{{ item.href }}">{{ item.title }}</a><br> {% endfor %}
            </div>
            <div id="cotidiano" class="tab-pane fade">
                {% for item in cotidiano %}
                <a href="{{ item.href }}">{{ item.title }}</a><br> {% endfor %}
            </div>
            <div id="esportes" class="tab-pane fade">
                {% for item in esportes %}
                <a href="{{ item.href }}">{{ item.title }}</a><br> {% endfor %}
            </div>
        </div>
    </div>

    <br>

    <div class='text-center'>
        <a href="/" class="btn btn-success">Tabs</a>
        <a href="/lista" class="btn btn-danger">Lists</a>
    </div>
    
</body>

</html>
