<!-- appAnywhere/templates/index.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="ATMapp">
    <meta name="author" content="Adriano Tiapas Moscheti">

    <title>{{ sistema }}</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>

<body>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{{ sistema }}</h2>
        </div>
    </div>

    <nav aria-label="...">
        <ul class="pager">
            <h2>{{ mensagem }}</h2>
            <li class="previous"><a href="?data={{ archive_before }}"><span aria-hidden="true">&larr;</span> Older</a></li>
            <li class="next"><a href="?data={{ archive_after }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>

    <div class="list-group">
        <div class="list-group-item">
            <h4 class="list-group-item-heading">Main</h4>
            <p class="list-group-item-text">
                {% for item in main %}
                <a href="{{ item.href }}">{{ item.title }}</a><br> {% endfor %}

            </p>
        </div>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">Geral</h4>
            <p class="list-group-item-text">
                {% for item in geral %}
                <a href="{{ item.href }}">{{ item.title }}</a><br> {% endfor %}

            </p>
        </div>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">Cotidiano</h4>
            <p class="list-group-item-text">
                {% for item in cotidiano %}
                <a href="{{ item.href }}">{{ item.title }}</a><br> {% endfor %}

            </p>
        </div>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">Esportes</h4>
            <p class="list-group-item-text">
                {% for item in esportes %}
                <a href="{{ item.href }}">{{ item.title }}</a><br> {% endfor %}

            </p>
        </div>
    </div>

    <br>

    <div class="btn-group" role="group" aria-label="...">
        <a href="/" class="btn btn-default" role="button">Tabs</a>
        <a href="/lista" class="btn btn-default" role="button">Lists</a>
    </div>

</body>

</html>
